extends layout.pug
block links
    link(rel="stylesheet", href="css/main.css")
    link(rel="stylesheet", href="css/dash.css")



block navigation
    include ./core/nav/main.pug


block content
    //- dashboard collapse ui
    .hg
    .container
        ul.collapsible.popout
            li.active
                .collapsible-header.c2.waves-effect.waves-light.light-green-text.text-accent-2 Personal Progress 
                .c3.collapsible-body

                    .row
                        .col.s4
                            span.sp2 LEVEL :
                        .col.s8
                            span #{lev.m_level}
                        
                    .row
                        .col.s4
                            span.sp2 EXP :
                        .col.s8
                            - var styleWay = 'width: '+lev.m_levelExpPercent + '%';
                            .progress
                                .determinate(style=styleWay).green
                    .row
                        .col.s4
                            span.sp2 Next :
                        .col.s8
                            span #{lev.m_next} LP

                    .row
                        .col.s4
                            span.sp2 TOTAL :
                        .col.s8
                            span #{lev.m_total} LP
                    
            li.active
                .c2.collapsible-header.waves-effect.waves-light.light-green-text.text-accent-2 World Ranking 
                .c3.collapsible-body
                    .row
                        ul.collection
                            each champion in champions
                                -var dUrl = '/profile/' + champion._id; 
                                li.collection-item.c2
                                    a.bc(data-id='${i._id}', href=dUrl)
                                        img.img-pin(src= champion.img)
                                        span.fix-1.sp1 # #{champion.rank} - #{champion.full_name} &nbsp &nbsp (#{champion.leader_point} LP)
                                        

                    

            li
                .c2.collapsible-header.waves-effect.waves-light.light-green-text.text-accent-2 Achievements
                .c3.collapsible-body
                    .row
                        .galary.game-list
                            each ac in achieve.achieved
                                include ./core/sticker/achievement.pug
            li
                .c2.collapsible-header.waves-effect.waves-light.light-green-text.text-accent-2 Yet to Achievements
                .c3.collapsible-body
                    .row
                        .galary.game-list
                            each ac in achieve.unachieved
                                include ./core/sticker/achievement.pug
                    
    //- dashboard collapse end here
    .hg1

    

block foot
    include ./core/footer.pug



block scripts
    script(src="js/main.js")
    script(src="js/dash.js")
