extends layout.pug
block links
    link(rel="stylesheet", href="../css/main.css")
    link(rel="stylesheet", href="../css/nunu.css")



//-navigation block
block navigation


block content
    .hg
    .container
        .xrv
            a(href="/dashboard")
                i.fa.fa-arrow-left
                | &nbsp back to dashboard
        .card-panel.c1.base
            .container
                .row
                    h3.center match info - #{gameName}
                    br
                .row
                    .col.m6.s12
                        span.sp4 Match Id:
                    .col.m6.s12
                        span #{matchId}
                .row
                    .col.m6.s12
                        span.sp4 Challenger:
                    .col.m6.s12
                        -var dUrl = '/profile/' + challenger._id;
                        a.bc(data-id='${i._id}', href=dUrl)
                            span #{challenger.full_name}
                .row
                    .col.m6.s12
                        span.sp4 Challenged:
                    .col.m6.s12
                        -var dUrl = '/profile/' + challenged._id;
                        a.bc(data-id='${i._id}', href=dUrl)
                            span #{challenged.full_name}
                .row
                    .col.m6.s12
                        span.sp4 Time of challange:
                    .col.m6.s12
                        span #{time}
                .row
                    .col.s6
                        span.sp4 Bet:
                    .col.s6
                        span #{bet}&nbspBP
                .row
                    .col.m6.s12
                        span.sp4 Oppornent Account:
                    .col.m6.s12
                        span #{c_ref}
        .hg
        .card-panel.c1.base
            .container
                .row
                    h3.center chatbox
                    br
                .row.chat-box#chat-list-container
                .row
                    br
                .row
                    .col.s10.input-field
                        input(type="hidden", name="msg_con",id="mx_con", value=c_id)
                        input(type="hidden", name="msg_con",id="mx_con1", value=x_id)
                        input(type="hidden", name="msg_id",id="mx_id", value=chatId)
                        input(type="hidden", name="msg_sender",id="mx_sender", value=sender)
                        input(type="text", name="msg",id="mx_message",data-length='50' ).msgr
                    .col.s2
                        a.btn-norm#mx_send send
        .hg
        .card-panel.c1.base
            .container
                .row
                    h3.center Evaluation
                    br
                .row
                    .col.m6.s12
                        span.sp4 Match state:
                    .col.m6.s12
                        case state
                            when 1
                                span game on-going
                            when 2
                                span challenger has won
                            when 3
                                span challenged has won
                            when 4
                                span victory request is made
                .row.hg
                .row
                    .center-box
                        a.btn-big.gap-1.modal-trigger(href='#modalSubmitResult') Claim Victory
                        input(type="hidden", name="matchid",id="matchidxz", value=matchId)
                        input(type="hidden", name="matchid",id="matchischallenger", value=isChallenger)
                        a.btn-big.modal-trigger(href="#modalAdmitDefeat") Admit Defeat

    .hg1
    
    include ./core/modal/submitResult.pug
    include ./core/modal/admitDefeat.pug
block foot
    include ./core/footer.pug



block scripts
    script(src='/socket.io/socket.io.js')
    script(src="../js/main.js")
    script(src="../js/mat.js")

