extends layout.pug
block links
    link(rel="stylesheet", href="../css/main.css")
    link(rel="stylesheet", href="../css/pro.css")




block navigation
    include ./core/nav/main.pug


block content
    .hg
    .container
        .row.box-x
            .card.z-depth-2.c1.base
                .card-content
                    span.card-title Profile Information - #{user.full_name}
                    .row
                        .col.s4
                            .card
                                .card-image
                                    img(src=proImg2)#profileImage
                        .col.s8
                            h2.center.flow-text.cyan-text vbg-player
                    .row
                        .col.m6.s12
                            .row
                                .col.s4
                                    span.sp4 Name :
                                .col.s8
                                    span=user.full_name
                            .row
                                .col.s4
                                    span.sp4 Level :
                                .col.s8
                                    span=level.m_level
                            .row
                                .col.s4
                                    span.sp4 Leader points :
                                .col.s8
                                    span=level.m_total
                            .row
                                .col.s4
                                    span.sp4 Total Winning :
                                .col.s8
                                    span #{user.total_bp_win} BP
                        .col.m6.s12
                            .row
                                .col.s4
                                    span.sp4 Next Level :
                                .col.s6
                                    - var styleWay = 'width: '+level.m_levelExpPercent + '%';
                                    .progress
                                        .determinate(style=styleWay).green
                                .col.s2
                                    span=level.m_levelExpPercent + '%'
                            .row
                                .col.s4
                                    span.sp4 Win Percentage:
                                .col.s6
                                    - var styleWay = 'width: '+match.m_average + '%';
                                    .progress
                                        .determinate(style=styleWay).blue
                                .col.s2
                                    span=match.m_average + '%'
                            .row
                                .col.s4
                                    span.sp4 Total Matches :
                                .col.s8
                                    span=match.m_match
    .hg
    .container
        .row.box-x
            .card.z-depth-2.c1.base
                .card-content
                    span.card-title Achievements
                    .row.hg
                    .row
                        .galary
                            each achievement in achievements
                                div(style="margin: 5px;")
                                    -var imgPath = "/achievement/" + achievement.img
                                    img(src=imgPath, alt="#{achievement.img}", width=100).activator.circle.shadow-2


    .hg1
    
    include ./core/modal/profileModals.pug
block foot
    include ./core/footer.pug



block scripts
    script(src="../js/main.js")
    script(src="../js/pro.js")
