extends layout.pug
block links
    link(rel="stylesheet", href="css/main.css")
    link(rel="stylesheet", href="css/dash.css")



block navigation
    include ./core/nav/main.pug


block content
    //- dashboard collapse ui
    .hg
    .container
        ul.collapsible.popout
            li.active
                .collapsible-header.c2.waves-effect.waves-light.light-green-text.text-accent-2 perticipating Tournaments  
                .c3.collapsible-body
                    span This section contains all Ongong Tournaments.
                    br
                    .galary.tournament-list
                        each tour in tournaments.participating
                            -var tLink = "tournament/"+ tour._id
                            a(href=tLink).card.tournamentCard.hoverable.card1
                                .card-image
                                    -var imgPath = "gameimg/" + tour.game.image  
                                    img(src=imgPath, alt="#{game.name}")#gameImage.center.responsive-img.activator
                                .card-content
            li.active
                .c2.collapsible-header.waves-effect.waves-light.light-green-text.text-accent-2  New Tournaments
                .c3.collapsible-body
                    span This section contains all Perticipation Tournaments.
                    br
                    .galary.tournament-list
                        each tour in tournaments.not_participating
                            -var tLink = "tournament/"+ tour._id
                            a(href=tLink).card.tournamentCard.hoverable.card1
                                .card-image
                                    -var imgPath = "gameimg/" + tour.game.image  
                                    img(src=imgPath, alt="#{game.name}")#gameImage.center.responsive-img.activator
                                .card-content

    // tournament collapse end here
    .hg1

block foot
    include ./core/footer.pug



block scripts
    script(src="js/main.js")
    script(src="js/torn.js")