extends layout.pug
block links
    link(rel="stylesheet", href="../css/main.css")
    link(rel="stylesheet", href="../css/nunu.css")



//-navigation block
block navigation


block content
    .hg
    .container
        .xrv
            a(href="/dashboard") back to dashboard
        .card-panel.c1.base
            .container
                .row
                    h3.center Tournament info - #{gameName}
                    br
                .row
                    .col.m6.s12
                        span.sp4 Tournament Id:
                    .col.m6.s12
                        span#tournamentId #{tournamentId}
                .row
                    .col.m6.s12
                        span.sp4 Capacity:
                    .col.m6.s12
                        span #{capacity}
                .row
                    .col.m6.s12
                        span.sp4 First Prize:
                    .col.m6.s12
                        span #{prize1}&nbspBP
                .row
                    .col.m6.s12
                        span.sp4 Second Prize:
                    .col.m6.s12
                        span #{prize2}&nbspBP
                .row
                    .col.m6.s12
                        span.sp4 Entry Fee:
                    .col.m6.s12
                        span #{bet}&nbspBP
                .row
                    .col.m6.s12
                        span.sp4 Tournament Launched At:
                    .col.m6.s12
                        span #{time}
                .row
                    .col.s6
                        span.sp4 Stage:
                    .col.s6
                        span #{stage}
        .hg
        .card-panel.c1.base
            h3.center rules
            p.sp4 !{rules}

        .hg
        if !isPlaying
            .card-panel.c1.base
                .center-box
                    a(onclick="join()").btn-big Join Tournament

        else
            .card-panel.c1.base
                .row#tournamentBrackets.blue-text.text-darken-4(style="overflow-x:scroll;")
                    
            
            
block foot
    include ./core/footer.pug



block scripts
    script(src='/socket.io/socket.io.js')
    script(src="../js/brackets.min.js")
    
    script(src="../js/main.js")
    script(src="../js/torn2.js")

