extends layout.pug
block links
    link(rel="stylesheet", href="css/main.css")
    link(rel="stylesheet", href="css/pro.css")




block navigation
    include ./core/nav/main.pug


block content
    .hg
    .container
        .row.box-x
            .card.z-depth-2.c1.base
                .card-content
                    span.card-title Wallet Balance
                    .hg
                    .row
                        .col.s6
                            span.sp2 BP :
                        .col.s6
                            span #{balance} BP
                    .row
                        .col.s6
                            span.sp2 Withdrawable BP :
                        .col.s6
                            span #{withdrawable_bp} BP
                    .hg
                    span.card-title Transaction Log - &nbsp #{userName}
                    .row
                        table#paging
                            thead
                                tr
                                    th.sp4.center BP AMMOUNT
                                    th.sp4.center DATE
                                    th.sp4.center STATUS 
                                    //-draw / withdraw
                            tbody
                                each trans in transactionLog
                                    case trans.mode
                                        when 1
                                            tr
                                                td.center #{trans.bp}
                                                td.center #{trans.date}
                                                td.center #{trans.text}
                                        when -1
                                            tr.red-text.text-lighten-2
                                                td.center #{trans.bp}
                                                td.center #{trans.date}
                                                td.center #{trans.text}
        .row.box-x
                .card.z-depth-2.c1.base
                    .card-content
                        span.card-title
                        | Transfer Balance
                        .row.hg
                        .row
                            .center-box
                                a.btn-big.gap-1.modal-trigger(href='#modalAddBP') Add BP
                                a.btn-big.modal-trigger(href='#modalConvertBP') Convert BP
                           
    //-content ends here
    .hg
    .hg

    include ./core/modal/addBP.pug                   
                            
        
block foot
    include ./core/footer.pug



block scripts
    script(src="js/paging.js")
    script(src="js/main.js")
    script(src="js/wallet.js")
