.card.gameCard.hoverable.card2
        .card-image
            -var imgPath = "/achievement/" + ac.img
            img(src=imgPath, alt="#{ac.img}").activator
        .card-content
            span.card-title.activator.text-darken-4
                | #{ac.title}
                i.material-icons.right more_vert
        
            
        .card-reveal
            span.card-title.grey-text.text-darken-4
                | #{ac.title}
                i.material-icons.right close
            span.grey-text Summary :
            span #{ac.info}