.card.gameCard.hoverable.card1
    .card-image
        -var imgPath = "gameimg/" + game.image  
        img(src=imgPath, alt="#{game.name}")#gameImage.center.responsive-img.activator
    .card-content
        span.card-title.activator.grey-text.text-darken-4.small-text-bold
            | #{game.name}
            i.material-icons.right more_vert
    .card-reveal
        span.card-title.grey-text.text-darken-4.small-text-bold
            | #{game.name}
            i.material-icons.right close
        span.grey-text requitrment: #{game.requirement}
        br
        span.grey-text platform : 
        span
            case game.platform
                when 0
                    | Android
                when 1
                    | Pc
        br
        span.grey-text Player Count : #{game.player_count}
            