//- modal for adding a game
#modalAddGame.modal
    .modal-content
        h2.grey-text.text-darken-2.center.flow-text Add Game
        .hg-1
        .row.box-x
            form(method='POST',action ='/admin/game/add',enctype="multipart/form-data" ).col.s12#GameAddForm
                .row.input-field.ifld
                    input(type="text" id="a_name" name="name").validate 
                    label(for='a_name') Game Name :
                .row.file-field.input-field
                    a.btn
                        span Image
                        input(type='file' id="a_img" name='image').validate
                    .file-path-wrapper
                        input.file-path.validate(type='text')
                .row.input-field.ifld
                    input(type="text" id="a_requirement" name="requirement").validate 
                    label(for='a_requirement') Requirement :
                .row.input-field.ifld
                    select(name="platform", id="a_platform")
                        option(value='', disabled='', selected='') Platform
                        option(value='0') android
                        option(value='1') pc
                .row.input-field.ifld
                    input(type="number" id="a_playerCount" name="player_count").validate 
                    label(for='a_playerCount') Player Count :
                .row
                    p.left.red-text#login-msg.small
                .row.center
                    button(type="submit" ).btn.waves-effect.waves-light.center#addGameBtn.modal-trigger Add
//-modal for removing a game
#modalRemoveGame.modal
    .modal-content
        h2.grey-text.text-darken-2.center.flow-text Remove Game
        .row.box-x
            form(action='/admin/game/remove', method='post')#removeGameForm
                .row.boxit
                    each game in games
                        .row
                            label
                                -var gameItemId=game._id
                                -var str='game-remove-'+gameItemId
                                    input(type='checkbox', name=gameItemId, id=str)
                                    span #{game.name}
            .row.center.gap-top-2
                button(type="submit").btn.waves-effect.waves-light.red.center#removeGameBtn Remove
//-match descitions modal
#modalDecision.modal
    .modal-content
        h2.grey-text.text-darken-2.center.flow-text Decision
        .hg-1
        .row.box-x

            div.d-frame
                div
                    span.sp4 Match ID :
                    span#d-matchId
                div
                    span.sp4 Game :
                    span#d-game
                div
                    span.sp4 Bet :
                    span#d-bet
                    span BP
                div
                    span.sp4 Date :
                    span#d-date
                
                div.evd#d-proofs-1
                    hr
                    div
                        span.sp2 challenger Email :
                        span#d-c1-email  chocoboyxp@gmail.com
                    div
                        span.sp2 proof :
                        br
                        img#d-c1-img(src='img/default.jpg', width='600px')
                    br
                    a.btn-norm#d-win1  declear winner
                div.evd#d-proofs-2
                    hr
                    div
                        span.sp2 challenged Email :
                        span#d-c2-email  chocoboyxp@gmail.com
                    div
                        span.sp2 proof :
                        br
                        img#d-c2-img(src='img/default.jpg', width='600px')
                    br
                    a.btn-norm#d-win2  declear winner
//-modal for adding tournament
#modalAddTournament.modal
    .modal-content
        h2.grey-text.text-darken-2.center.flow-text Add Tournament
        .hg-1
        .row.box-x(style='overflow : scroll !important; max-height: 400px;')
            .row.input-field.ifld
                select(name="game", id="a_t_game")
                    option(value='', disabled='', selected='') Select Game
                    each game in games
                        option(value=game._id) #{game.name}
            .row.input-field.ifld
                textarea#a_t_rule.materialize-textarea
                label(for='a_t_rule') Rules
            .row.input-field.ifld
                select(name="player_count", id="a_t_player_count")
                    option(value='', disabled='', selected='') Select player Count
                    option(value='4') 4
                    option(value='8') 8
                    option(value='16') 16
                    option(value='32') 32
            .row.input-field.ifld
                select(name="bet", id="a_t_balance")
                    option(value='', disabled='', selected='') Select balance
                    option(value='10') 10
                    option(value='20') 20
                    option(value='50') 50
                    option(value='100') 100
            .row
                p.left.red-text#login-msg.small
            .row.center
                button.btn.waves-effect.waves-light.center#createTurnamentBtn Add